# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE (PyCharm / IntelliJ)
.idea/

# VS Code (jeśli używasz)
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.swp